@model List<models.ModelData>
<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="~/css/main.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/color.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<div class="theme-layout">
    @Html.Partial("~/Views/layout/Navbar.cshtml")
    <section>
        <div class="gap2 no-gap gray-bg">
            <div class="container-fluid no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="message-users">
                            <div class="message-head">
                                <h4>Chat Messages</h4>
                                <div class="more">
                                    <div class="more-post-optns">
                                        <i class="fas fa-cog"></i>
                                        <ul>
                                            <li><i class="fas fa-wrench"></i>Setting</li>
                                            <li><i class="fas fa-envelope-open"></i>Active Contacts</li>
                                            <li><i class="fas fa-folder-open"></i>Archives Chats</li>
                                            <li><i class="fas fa-eye-slash"></i>Unread Chats</li>
                                            <li><i class="fas fa-flag"></i>Report a problem</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="message-people-srch">
                                <form method="post">
                                    <input type="text" placeholder="Search Friend..">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                                <div class="btn-group add-group" role="group">
                                    <button id="btnGroupDrop2" type="button"
                                            class="btn group dropdown-toggle user-filter" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        All
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                        <a class="dropdown-item" href="#">Online</a>
                                        <a class="dropdown-item" href="#">Away</a>
                                        <a class="dropdown-item" href="#">unread</a>
                                        <a class="dropdown-item" href="#">archive</a>
                                    </div>
                                </div>
                                <div class="btn-group add-group align-right" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn group dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Create+
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#">New user</a>
                                        <a class="dropdown-item" href="#">New Group +</a>
                                        <a class="dropdown-item" href="#">Private Chat +</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mesg-peple">
                                <ul id="msg-pepl-list" class="nav nav-tabs nav-tabs--vertical msg-pepl-list">
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content messenger">
                            <div class="tab-pane active fade show " id="link1">
                                <div class="row merged">
                                    <div class="col-lg-12">
                                        <div class="mesg-area-head">
                                            <div class="active-user">
                                            </div>
                                            <ul class="live-calls">
                                                <li class="audio-call"><span class="fas fa-phone"></span></li>
                                                <li class="video-call"><span class="fas fa-video"></span></li>
                                                <li class="uzr-info"><span class="fas fa-info-circle"></span></li>
                                                <li>
                                                    <div class="dropdown">
                                                        <button class="btn" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-th-large"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item audio-call" href="#">
                                                                <i class="fas fa-headphones"></i>Voice Call
                                                            </a>
                                                            <a href="#" class="dropdown-item video-call">
                                                                <i class="fas fa-video"></i>Video Call
                                                            </a>
                                                            <hr>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="fas fa-server"></i>Clear History
                                                            </a>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="fas fa-hand-stop"></i>Block Contact
                                                            </a>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="fas fa-trash"></i>Delete Contact
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="mesge-area">
                                            <ul class="conversations" id="conversations">
                                            </ul>
                                        </div>
                                        <div class="message-writing-box">
                                            <div class="text-area">
                                                <div id="text-area">
                                                </div>
                                                <div class="input-container">
                                                    <input type="text" id="NoiDunginput" placeholder="Nhập tin nhắn">
                                                    <div class="emojies">
                                                    </div>
                                                    <input type="button" id="sendButton" value="Gửi" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="chater-info">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    .input-container {
        position: relative;
        display: flex;
    }


    .emojies {
        position: absolute;
        right: 120px;
        top: 50%;
        transform: translateY(-50%);
    }

        .emojies span {
            cursor: pointer;
            margin-left: 5px;
            display: inline-block;
        }

    #NoiDunginput {
        width: calc(100% - 69px);
        padding: 10px;
        margin-bottom: 0px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }


    #sendButton {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }


        #sendButton:hover {
            background-color: #45a049;
        }

    .emojiessss {
        display: inline-block;
        line-height: 49px;
        margin: 0 5px;
        position: relative;
        vertical-align: baseline;
    }

    .emojies-lists {
        background: #fff none repeat scroll 0 0;
        border-radius: 8px;
        bottom: 100%;
        box-shadow: -7px 10px 20px rgba(0, 0, 0, 0.1);
        display: inline-block;
        line-height: initial;
        list-style: outside none none;
        margin: 0;
        opacity: 0;
        padding: 6px;
        position: absolute;
        right: -12px;
        visibility: hidden;
        width: 382px;
        z-index: 9999;
    }

    .emojiessss > i {
        cursor: pointer;
        display: inline-block;
    }

        .emojiessss > i img {
            max-width: 25px;
        }

    .emojies-lists > li {
        display: inline-block;
    }

    .emojies-lists::after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        bottom: -7px;
        content: "";
        position: absolute;
        right: 14px;
        transition: all 0.4s linear 0s;
    }

    .emojies-lists > li > a {
        display: inline-block;
        padding: 3.1px;
        transition: all 0.2s linear 0s;
        width: 100%;
    }

        .emojies-lists > li > a img {
            max-width: 24px;
        }

        .emojies-lists > li > a:hover {
            transform: scale(1.1);
        }

    .emojiessss:hover .emojies-lists {
        opacity: 1;
        visibility: visible;
    }

    .message-list {
        list-style: none;
        padding: 0;
    }

    .message-item {
        margin-bottom: 20px;
    }

    .message-content {
        position: relative;
    }

    .icons-container {
        position: absolute;
        bottom: 0px;
        left: -8px;
    }

</style>
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="~/js/main.min.js"></script>
<script src="~/js/script.js"></script>
<script>
    $(document).ready(function () {
        callChatBot();
    });
</script>
<script>
    function insertIcon(icon) {
        var inputField = document.getElementById('NoiDunginput');
        inputField.value += icon;
    }
    // Define the timtinnhan function to handle icon clicks
    function timtinnhan(ids) {
        // Split the concatenated string of IDs into individual IDs
        var idArray = ids.split('_');

        // Access individual IDs if needed
        var iconId = idArray[0];
        var tinNhanId = idArray[1];

        // Perform actions based on the clicked icon IDs
        console.log('Icon ID:', iconId);
        console.log('TinNhan ID:', tinNhanId);

        // You can add further functionality here based on the clicked icon IDs
        // For instance, you might want to send an AJAX request or update the UI.
    }

</script>
