@model List<models.ModelData>
<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">
<link href="~/css/main.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/color.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<div class="theme-layout">
    @Html.Partial("~/Views/layout/Navbar.cshtml")
    <section>
        <div class="gap2 no-gap gray-bg">
            <div class="container-fluid no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="message-users">
                            <div class="message-head">
                                <h4>Chat Messages</h4>
                                <div class="more">
                                    <div class="more-post-optns">
                                        <i class="ti-settings"></i>
                                        <ul>
                                            <li><i class="fa fa-wrench"></i>Setting</li>
                                            <li><i class="fa fa-envelope-open"></i>Active Contacts</li>
                                            <li><i class="fa fa-folder-open"></i>Archives Chats</li>
                                            <li><i class="fa fa-eye-slash"></i>Unread Chats</li>
                                            <li><i class="fa fa-flag"></i>Report a problem</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="message-people-srch">
                                <form method="post">
                                    <input type="text" placeholder="Search Friend..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                                <div class="btn-group add-group" role="group">
                                    <button id="btnGroupDrop2" type="button"
                                            class="btn group dropdown-toggle user-filter" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        All
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                        <a class="dropdown-item" href="#">Online</a>
                                        <a class="dropdown-item" href="#">Away</a>
                                        <a class="dropdown-item" href="#">unread</a>
                                        <a class="dropdown-item" href="#">archive</a>
                                    </div>
                                </div>
                                <div class="btn-group add-group align-right" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn group dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Create+
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#">New user</a>
                                        <a class="dropdown-item" href="#">New Group +</a>
                                        <a class="dropdown-item" href="#">Private Chat +</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mesg-peple">
                                <ul id="msg-pepl-list" class="nav nav-tabs nav-tabs--vertical msg-pepl-list">
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content messenger">
                            <div class="tab-pane active fade show " id="link1">
                                <div class="row merged">
                                    <div class="col-lg-12">
                                        <div class="mesg-area-head">
                                            <div class="active-user">
                                                <figure>
                                                    <img src="images/resources/friend-avatar3.jpg" alt="">
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div>
                                                    <h6 class="unread">Andrew</h6>
                                                    <span>Online</span>
                                                </div>
                                            </div>
                                            <ul class="live-calls">
                                                <li class="audio-call"><span class="fa fa-phone"></span></li>
                                                <li class="video-call"><span class="fa fa-video"></span></li>
                                                <li class="uzr-info"><span class="fa fa-info-circle"></span></li>
                                                <li>
                                                    <div class="dropdown">
                                                        <button class="btn" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-view-grid"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item audio-call" href="#">
                                                                <i class="ti-headphone-alt"></i>Voice Call
                                                            </a>
                                                            <a href="#" class="dropdown-item video-call">
                                                                <i class="ti-video-camera"></i>Video Call
                                                            </a>
                                                            <hr>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="ti-server"></i>Clear History
                                                            </a>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="ti-hand-stop"></i>Block Contact
                                                            </a>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="ti-trash"></i>Delete Contact
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="mesge-area">
                                            <ul class="conversations" id="conversations">
                                            </ul>
                                        </div>
                                        <div class="message-writing-box">
                                            <div class="text-area">
                                            </div>
                                            <input type="text" id="NoiDunginput" placeholder="Nhập tin nhắn">
                                            <input type="button" id="sendButton" value="Gửi" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="chater-info">
                                            <figure><img src="images/resources/chatuser1.jpg" alt=""></figure>
                                            <h6>Andrew</h6>
                                            <span>Online</span>
                                            <div class="userabout">
                                                <span>About</span>
                                                <p>
                                                    I love reading, traveling and discovering new things. You need to
                                                    be happy in life.
                                                </p>
                                                <ul>
                                                    <li><span>Phone:</span> +123976980</li>
                                                    <li>
                                                        <span>Website:</span> <a href="#" title="">www.abc.com</a>
                                                    </li>
                                                    <li>
                                                        <span>Email:</span> <a href="http://wpkixx.com/cdn-cgi/l/email-protection"
                                                                               class="__cf_email__"
                                                                               data-cfemail="a0d3c1cdd0ccc5e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a>
                                                    </li>
                                                    <li><span>Phone:</span> Ontario, Canada</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    #NoiDunginput {
        width: 659px;
        padding: 10px;
        margin-bottom: 0px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    #sendButton {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        #sendButton:hover {
            background-color: #45a049;
        }

</style>
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="~/js/main.min.js"></script>
<script src="~/js/script.js"></script>
<script>
    $(document).ready(function () {
        callChatBot();
    });
</script>